<div class="request-sent-alert addedFriend" style="position: absolute; display: flex; align-items: flex-end; margin-left: 66vw; margin-top: 1vh;">
    <p class="hideMyAddNoti">Friend Request Sent <i class="fa-solid fa-check"></i></p>
</div>