  <% for(let i =0; i<friendName.length; i++) { %>
    <div id="friendRequestList" style="display: flex; margin-top: 1.5vh; margin-bottom: 2vh;">
      <div class="friendRequests">
        <div class="request" style="display: inline-flex; margin-left: 6vh;">
          <img class="profile-icon-search" src="images/userIcon.png">
          <input type="hidden" value="<%= friendId[i] %>"/>
          <input type="hidden" value="<%= idSQL %>"/>
          <input type="hidden" value="<%= requester[i] %>"/>
          <p style="margin-left: -3vh; margin-top: 2.6vh; color: #fff;"><%= friendName[i]; %></p>
          <button class="addFriendRequest" type="button" id="addback"><i style="color: #fff; margin-right: .3vw;" class="fa-sharp fa-solid fa-plus fa-lg"></i></button>
        </div>
      </div>
    </div>
<% } %>