  <% for(let i =0; i<nameList.length; i++) { %>
    <div id="friendRequestList" style="display: flex; margin-top: 3vh; margin-bottom: 2vh;">
      <img class="profile-icon-search" src="images/userIcon.png">
      <div class="friendRequests">
        <p>Friends Requests</p>
        <div class="request">
          <p>test</p>
        </div>
      </div>
        <button class="addFriendRequest" type="button" id="addback"><i class="fa-sharp fa-solid fa-plus fa-lg"></i></button>
    </div>
<% } %>