<% for(let i =0; i<nameList.length; i++) { %>
    <div id="list" style="display: flex; margin-top: 3vh; margin-bottom: 2vh;">
      <img class="profile-icon-search" src="images/userIcon.png">
        <input id="userId" name="uId" value="<%= idList[i]; %>" type="hidden"/>
        <input id="exists" name="exists" value="<%= existsList; %>" type="hidden"/>
        <p style="color: #fff; margin-top: 2.6vh;" id="usernameAdd"><%= nameList[i]; %></p>
        <button class="addFriend" style="margin-top: 2vh;" type="button" id="search"><i class="fa-sharp fa-solid fa-plus fa-lg"></i></button>
    </div>
<% } %>