<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/EJSstyles.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/7febf94e83.js" crossorigin="anonymous"></script>
    <title>Gallery | Buzz</title>
  </head>


  <body>
    <header  class="myheader">
      <%- include('partials/header'); %>    
    </header>
    
    <div class="img-tiles">
        <a href="#">
            <div class="add-photo">
                <div class="add-photo-circle">
                    <i class="fa-solid fa-plus fa-xl"></i>
                </div>
            </div>
        </a>
        <div class="existing-img">
            <a href="#">
                <div class="photo">
                    <img src="images/gallary-1.webp">
                </div>
            </a>
        </div>
    </div>
    


  </body>



  <script src="EJSapp.js"></script>

</html>